* {
  color: #1d3557;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* adjacent selector  */
h2 + p {
  background-color: #457b9d;
}
body {
  background: #f1faee;
}
main {
  background-color: #a8dadc;
}
header {
  background-color: #e9c46a;
}
h1,
h2 {
  color: #370617;
}

/* table {
  background-color: white;
} */
/* Selects every fourth element
   among any group of siblings */
thead {
  background-color: #f48c06;
}
tr:nth-child(even) {
  background-color: #fff1e6;
}

h1 {
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  /* text-decoration: red underline wavy; */
  font-size: 30px;
  letter-spacing: 2.5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
  font-family: "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #a17c6b;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

p {
  line-height: 1.5;
  font-size: 14px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button {
  background-color: #457b9d;
}

/* descent selector  */
footer {
  height: 300px;
  background-color: #1d3557;
}

img {
  height: 50px;
  width: 50px;
}
footer a {
  color: #e63946;
}

nav {
  width: 200px;
  height: 100px;
  background-color: #264653;
}
/* attribute selector  */
input[type="text"] {
  color: #f4a261;
}

/* pseudo classes */
a:hover {
  background-color: #1a123d;
}

button:hover {
  background-color: #1a123d;
}
/* pseudo elements */
h2::first-letter {
  font-size: 40px;
}

p::selection {
  background-color: #e9c46a;
}

/* games  */

/* DO NOT TOUCH THIS FILE!!!  */
.square {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid black;
}
/* DO NOT TOUCH THIS FILE!!!  */
/* THIS CODE WILL MAKE SENSE ONCE WE COVER FLEXBOX!  */
#board {
  display: flex;
  margin: 0 auto;
  width: 500px;
  flex-wrap: wrap;
}
/* DO NOT TOUCH THIS FILE!!!  */

/* WRITE YOUR CODE IN HERE!!!!  */
.square:nth-child(even) {
  background: #000;
}
.square:nth-child(odd) {
  background: #f00;
}
